.collapse-header {
    width: 1023px;
    height: 47px;
}
.collapse {
    height: 130px;
    width: 1023px;
}
.fleche-collapse img {
    width: 14px;
    height: 24px;
    transform: rotate(90deg);
}
