.homep {
    width: 1240px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Montsierrat';
    font-weight: 500;
}

.Banniere {
    position: relative;
    text-align: center;
    color: white;
    width: 1240px;
    height: 223px;
    align-items: center;
    margin-bottom: 30px;
}
.banniereac {
        border-radius: 25px;
        filter: brightness(50%);
}
.banniere_text {
    font-size: 48px;
    position: absolute;
    top: 50px;
    left:50%;
    transform:translate(-50%, -50%);
}

.container_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F6F6F6;
    border-radius: 25px;
}

