.header-logement {
    margin-top: 30px;
    color: #FF6060;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.header-logement-titre{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.header-logement-titre ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.logement_title {
    width: 635px;
    height: 51px;
    margin: 0px;
    font-size: 36px;
    font-weight: 500;
}

.logement_location {
    width: 176px;
    height: 26px;
    margin: 0px;
    font-size: 18px;
    margin-bottom: 5px;
}

.header-logement_right {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 100%;
    align-self: center;
}

.description-equipements {
    display: flex;
    gap: 30px;
}
.collapse{
    width: 582px;
    height: auto;
}
.collapse-header {
    width: 582px ;
    height: 52px;
}
.collapse_description {
    border-radius: 10px;
    height: auto;
}