.Header{
    width: 1240px;
    height: auto;
    padding: 20px;
    padding-top: 5px;
}
nav {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    align-self: self-end;
}
ul li {
    margin-right: 20px;
    display: inline;
}
a {
    text-decoration: none;
    color:#FF6060;
}
.App-logo {
    width: 160px;
    animation: none;
    height: 60px;
}
