@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {

    margin: 0;


    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

main {
    padding-left: 100px;
    padding-right: 100px;
}

@media screen and (max-width: 768px) {
    main {
        padding-left: 0;
        padding-right: 0;
    }
}